@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

aside {
  background: rgb(220, 220, 220);
  height: calc(100vh - 70px);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.strimers-list-wrapper {
  flex-grow: 1;
  overflow: auto;
}

.strimer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.strimer-card:hover {
  background-color: rgb(192, 192, 192);
  cursor: pointer;
}

.strimer-avatar-wrapper {
  width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

img.strimer-avatar {
  height: 100%;
  width: 100%;
}

.strimer-info-wrapper {
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.strimer-name {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.strimer-name:hover {
  color: rgb(100, 149, 237);
}

.strimer-status {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blob {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse 2s infinite;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  transform: scale(1);
  margin: 0 5px;
  display: inline-block;
}

.info-title {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}

.info-title::selection {
  color: rgb(255, 255, 255);
  background: rgb(255, 165, 0);
}

.info-wrapper {
  min-height: 200px;
  width: 100%;
  padding: 15px;
  border-top: 2px solid rgb(255, 255, 255);
}

.info-content {
  background-color: rgb(192, 192, 192);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  color: rgb(65, 105, 225);
  cursor: pointer;
}

.fa-facebook-square,
.fa-instagram,
.fa-twitter {
  color: rgb(0, 0, 0);
  margin: 0 10px;
}

.fa-facebook-square::before,
.fa-instagram::before,
.fa-twitter::before {
  font-size: 32px;
}

@media only screen and (max-width: 1200px) {
  aside {
    width: 70px;
  }

  .info-wrapper,
  .strimer-info-wrapper {
    display: none;
  }
}
