main {
  padding: 15px;
  height: calc(100vh - 70px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.categories-wrapper {
  margin-bottom: 15px;
  overflow: auto;
  scrollbar-width: none;
}

.categories {
  height: 100%;
  width: min-content;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
}

.category {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgb(220, 220, 220);
  border-radius: 9em;
  border: 1px solid rgb(128, 128, 128);
}

.category:hover {
  background-color: rgb(192, 192, 192);
  cursor: pointer;
}

.category-name {
  display: block;
  margin: auto 15px;
}

.category:first-child {
  background-color: rgb(255, 165, 0);
  color: rgb(255, 255, 255);
  border: none;
}

.categories-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}