@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
  font-family: 'Inconsolata', monospace;
}

body {
  display: grid;
  grid-template-areas: 
    "a m m"
    "a f f";
  grid-template-columns: auto 1fr 1fr;
}

aside {
  grid-area: a;
}

main {
  grid-area: m;
}

main,
aside {
  margin-top: 70px;
}

footer {
  grid-area: f;
}
