footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-top: 20px;
}

footer::after {
  font-family: FontAwesome;
  font-size: 22px;
  color: rgb(0, 0, 0);
  content: "\f144";
  margin-left: 10px;
}
