header {
  height: 70px;
  width: 100%;
  padding: 0 15px;
  border-bottom: 1px solid rgb(192, 192, 192);
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
  position: fixed;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1fr) 1fr;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

.search-wrapper,
.header-left-buttons,
.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  margin-right: 20px;
}

.header-left-buttons {
  justify-content: flex-end;
}

.search-wrapper {
  justify-content: center;
}

.logo {
  height: 50px;
  min-width: 256px;
}

.search-form {
  display: flex;
  width: 300px;
}

.search {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px 0 0 5px;
  outline: none;
  flex-shrink: 1;
}

.search:focus {
  border: 3px solid rgb(65, 105, 225);
}

.search-button {
  width: 30px;
  height: 30px;
  background: rgb(220, 220, 220);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 1px solid rgb(192, 192, 192);
  border-left: none;
}

.search-button:before {
  content: "\f002";
}

.search-button:hover {
  background-color: rgb(192, 192, 192);
}

.fa-microphone,
.fa-bell {
  color: rgb(192, 192, 192);
  margin: 0 10px;
}

.fa-microphone:hover,
.fa-bell:hover {
  color: rgb(128, 128, 128);
}

.fa-microphone:before,
.fa-bell:before {
  font-size: 24px;
}

.menu-wrapper {
  position: relative;
  display: inline-block;
}

.menu-button {
  border: none;
  background-color: rgb(255, 165, 0);
  width: 40px;
  height: 40px;
  margin: 5px 0;
  border-radius: 50%;
}

.menu-button:before {
  content: "\f1b0";
}

.search-button:before,
.menu-button:before,
.menu-list li.profile::before,
.menu-list li.profile::before,
.menu-list li.settings::before,
.menu-list li.log-out::before {
  font-family: FontAwesome;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.menu-list {
  display: none;
  right: 0;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.menu-list li {
  padding: 5px 5px;  
  display: block;
}

.menu-list li.settings::before {
  content: "\f013";
}

.menu-list li.log-out::before {
  content: "\f061";
  color: rgb(255, 0, 0);
}

.menu-list li.profile::before {
  content: "\f1b0";
}

.menu-list li.profile::before,
.menu-list li.settings::before,
.menu-list li.log-out::before {
  margin: 0 10px;
}

.menu-list li a {
  text-decoration: none;
  color: black;
}

.menu-list li.log-out a {
  color: rgb(255, 0, 0);
}

.menu-list li.log-out {
  border-top: 1px solid rgb(192, 192, 192);
}

.menu-wrapper:hover .menu-list {
  display: block;
}

.menu-wrapper:hover .menu-button,
.menu-list li:hover {
  background-color: rgb(220, 220, 220);
}

.logo,
.search-button,
.fa-microphone,
.fa-bell,
.menu-button,
.menu-list {
  cursor: pointer;
}
