::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: 9em;
}
  
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}

html, body {
  scrollbar-color: rgb(128, 128, 128) transparent;
  scrollbar-width: thin;
}
