.videos-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.preview {
  width: 100%;
}

.description {
  padding: 5px 10px 5px 0;
  display: flex;
  line-height: 1.2em;
}

.description-info-wrapper {
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.fa-ellipsis-v {
  align-self: baseline;
  margin-top: 2px;
  margin: 2px 0 0 10px;
}

.video-title {
  font-size: 18px;
  font-weight: normal;
}

.description-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
}

.video-title,
.description-info .strimer-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.description-info .strimer-name {
  color: rgb(128, 128, 128);
}

.description-info .strimer-name:hover,
.video-title:hover {
  color: rgb(65, 105, 225);
  cursor: pointer;
}

.fa-ellipsis-v:hover {
  cursor: pointer;
}

.video {
  position: relative;
}


.live,
.viewers,
.duration {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  height: 25px;
}

.live:hover,
.viewers:hover,
.duration:hover {
  cursor: pointer;
}

.live {
  top: 5px;
  left: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0 ,0);
}

.viewers,
.duration {
  bottom: 5px;
  right: 5px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
}

.fade {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}

.fade:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.fa-paw {
  color: rgb(255, 255, 255);
  opacity: 0;
}

.fade:hover .fa-paw {
  opacity: 1;
}

.fa-paw::before {
  font-size: 36px;
}

@media only screen and (max-width: 1380px) {
  .videos-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .description-info {
    width: 190px;
  }
}

@media only screen and (max-width: 1100px) {
  .videos-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .description-info {
    width: 210px;
  }
}

@media only screen and (max-width: 720px) {
  .videos-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .description-info {
    width: 290px;
  }
}
